server {
	listen 80 default_server;
	server_name _;

	{% if 'web_servers' in group_names %}
	location / {
		proxy_pass http://{{ "192.168.{}.{}".format(
            '100' if hostvars['7uu13-1']['ansible_default_ipv4']['address'].split('.')[2] == '42' else '101',
            hostvars['7uu13-1']['ansible_default_ipv4']['address'].split('.')[3]) }}:88;
	}
	{% endif %}

	{% if 'prometheus' in group_names %}
    location /prometheus {
        proxy_pass http://localhost:9090;
    }
	{% endif %}

	{% if 'grafana' in group_names %}
    location /grafana {
		proxy_set_header Host $http_host;
        proxy_pass http://localhost:{{ grafana_port }};
    }
	{% endif %}
}

server {
    listen 8080 default_server;
    location /stub_status {
        stub_status;
    }
}
