server {
        listen 80 default_server;
        server_name _;

        location /prometheus {
                proxy_pass http://7uu13-2:9090/prometheus;
        }
}

server {
    listen 8080 default_server;

    location /stub_status {
        stub_status;
    }
}