apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    url: http://prometheus:9090/prometheus
    access: proxy
    isDefault: false

  - name: "InfluxDB:agama_client"
    type: influxdb
    url: http://influxdb:8086
    access: proxy
    editable: true
    database: agama_stats
    isDefault: false

  - name: "InfluxDB:Telegraf"
    type: influxdb
    url: http://influxdb:8086
    access: proxy
    editable: true
    database: telegraf
    isDefault: false