[Unit]
Description=Prometheus exporter for Bind

[Service]
Restart=on-failure
User=prometheus
EnvironmentFile=/etc/default/prometheus-bind-exporter
ExecStart=/usr/local/bin/prometheus-bind-exporter $ARGS

[Install]
WantedBy=multi-user.target