$TTL	604800
{{ rev_domain }}. 	IN	SOA	{{ hostvars[groups['dns_primary'][0]]['ansible_hostname'] }}.{{ domain_name }}. tuule.{{ domain_name }}. (
			      2		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;

{% for node in groups['dns_servers'] %}
{{ rev_domain }}.	IN	NS	{{ node }}.{{ domain_name }}.
{% endfor %}

{% for vm in hostvars %}
{{ hostvars[vm]['ansible_default_ipv4']['address'].split('.')[3] }}.{{ hostvars[vm]['ansible_default_ipv4']['address'].split('.')[2] }} IN PTR {{ vm }}.{{ domain_name }}.
{% endfor %}
