acl "corpnets" {
  192.168.42.0/23;
  127.0.0.0/8;
  172.17.0.0/16;
};

statistics-channels {                                                                                                                      
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };                                                                                           
}; 

options {
      directory "/var/cache/bind";

      forwarders {
        {% for f in dns_forwarders %}
        {{ f }};
        {% endfor %}
      };
      allow-query { "corpnets"; };
};

key "transfer-key" {
  algorithm hmac-sha256;
  secret "{{ dns_transfer_key }}";
};

key "update-key" {
  algorithm hmac-sha256;
  secret "{{ dns_update_key }}";
};
