global:
  scrape_interval:     15s
  evaluation_interval: 15s

  external_labels:
      monitor: 'example'

alerting:
  alertmanagers:
  - static_configs:
    - targets: ['localhost:9093']

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
    metrics_path: /prometheus/metrics

  - job_name: 'linux'
    static_configs:
      - targets:
      {% for host in groups['all'] %}
        - '{{ host }}:9100'
      {% endfor %}

  - job_name: 'mysql'
    static_configs:
      - targets:
      {% for host in ['mysql-1', 'mysql-2'] %}
        - '{{ host }}:9104'
      {% endfor %}

  - job_name: 'nginx'
    static_configs:
      - targets:
      {% for host in ['www-1', 'www-2', 'prometheus'] %}
        - '{{ host }}:9113'
      {% endfor %}
      
  - job_name: 'bind'
    static_configs:
      - targets:
      {% for host in ['ns-1', 'ns-2', 'ns-3'] %}
        - '{{ host }}:9119'
      {% endfor %}
    
  - job_name: 'influxdb'
    static_configs:
      - targets:
        - 'influxdb:9424'

  - job_name: 'haproxy'
    static_configs:
      - targets:
      {% for host in ['lb-1', 'lb-2'] %}
        - '{{ host }}:9101'
      {% endfor %}

  - job_name: 'keepalived'
    static_configs:
      - targets:
      {% for host in ['lb-1', 'lb-2'] %}
        - '{{ host }}:9165'
      {% endfor %}

  - job_name: 'backup'
    static_configs:
      - targets:
        - 'backup:9111'