global:
  scrape_interval:     15s
  evaluation_interval: 15s

  external_labels:
      monitor: 'example'

alerting:
  alertmanagers:
  - static_configs:
    - targets: ['localhost:9093']

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
    metrics_path: /prometheus/metrics

  - job_name: 'linux'
    static_configs:
      - targets:
      {% for host in groups['all'] %}
        - '{{ host }}:9100'
      {% endfor %}

  - job_name: 'mysql'
    static_configs:
      - targets:
        - '7uu13-2:9104'
        - '7uu13-1:9104'

  - job_name: 'nginx'
    static_configs:
      - targets:
      {% for host in groups['all'] %}
        - '{{ host }}:9113'
      {% endfor %}
      
  - job_name: 'bind'
    static_configs:
      - targets:
        - '7uu13-2:9119'
    
  - job_name: 'influxdb'
    static_configs:
      - targets:
        - 'localhost:9424'